<div class='left-content'>
	<div class='site-explanation'>
		Here at Groceries To Go we want to save you time.
		Why spend 2 hours walking around the grocery store looking for
			what you need, when all the employees know exactly where
			the things you need are located.
		You'll also never forget to buy anything because you can add items
			to your grocery list and save it until your ready to go to the store.
		All you have to do is submit your order, 
				tell us when you want to pick up your groceries, and show up.
	</div>
</div>

<div class='right-content'>
	<div class='sign-in-container'>
		<h2>Sign in</h2>
		<%= render 'shared/signin_form' %>
	</div>
	<div class='sign-up-container'>
		<h2>Sign Up</h2>
		<%= render 'shared/user_form' %>
	</div>
</div>





